<link rel="stylesheet" type="text/css" href="/css/style.css">

<h1>task manager</h1> 
    <img id="blur2" class="reponsive-image circle" src="/images/Peak.jpg"> 
<i> <img id="blur1" class="reponsive-image circle" src="/images/Peak.jpg"> 
    <img id="clear" class="reponsive-image circle" src="/images/Peak.jpg"> 
    <img id="blur1" class="reponsive-image circle" src="/images/Peak.jpg"> 
    <img id="blur2" class="reponsive-image circle" src="/images/Peak.jpg"> 
<hr>
<h3>find your focus</h3>
<hr>
      <ul><a class="waves-effect waves-light btn-large" href="/tasks"><i class="material-icons left">reorder</i>Tasks</a></ul>
      <ul><a class="waves-effect waves-light btn-large" href="/tasks/new"><i class="material-icons left">playlist_add</i>Add Task</a></ul>