<link rel="stylesheet" type="text/css" href="css/style.css">

<h1>Task Manager</h1>
<p>Stay on point.</p>
<img class="reponsive=image" src="/images/StayFocused.jpg"> 

<ul>
  <li><a href="/tasks">Task Index</a></li>
  <li><a href="/tasks/new">New Task</a></li>
</ul>
