<h2>add a new task</h2>
<hr>
<img id="clear" class="reponsive-image circle" src="/images/Peak.jpg"> 

<div class="container">
<form action="/tasks" method="post">
  <h4>Title: </h4><textarea name='task[title]'></textarea><br/>
  <h4>Description: </h4><textarea name='task[description]'></textarea><br/>
  <button <a class="btn-large waves-light" type='submit' value='submit'/>submit</a>
</form>
</div>

<hr>

<i id="return" class="material-icons"> replay <a href="/tasks">TASKS</a></i>
<i id="return" class="material-icons"> replay <a href='/'>HOME</a></i>
