<h2>add a new task</h2>
<hr>
<img id="clear" class="reponsive-image circle" src="/images/Peak.jpg"> 

<div class="container">
<form action="/tasks" method="post">
  <h4>Title: </h4><textarea name='task[title]'/></textarea><br/>
  <h4>Description: </h4><textarea name='task[description]'></textarea><br/>
  <input type='submit'/ >
</form>
</div>



<i id="return" class="material-icons"> replay <a href="/tasks">TASKS</a></i>
<i id="return" class="material-icons"> replay <a href='/'>HOME</a></i>
