<h1><%= @task.title %></h1>

<p><%= @task.description %></p>

<i id="return" class="material-icons"> replay <a href="/tasks">TASKS</a>

<i id="return" class="material-icons"> replay <a href='/'>HOME</a></p></i>
