<h1><%= @task.title %></h1>
<hr>

<h3><%= @task.description %></h3>
<p><%= @task.date %><p>


<i id="return" class="material-icons"> replay <a href="/tasks">TASKS</a>

<i id="return" class="material-icons"> replay <a href='/'>HOME</a></p></i>
